body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  background-color: rgba(63, 63, 63, 0.6);
  position: relative;
  top: 0;
  left: 0;
}
.model-glasses {
  position: absolute;
  top: 26%;
  left: 20%;
  width: 150px;
}
.model {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  position: relative;
}

.glasses {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.glasses img {
  max-width: 100%;
  display: block;
  height: auto;
}

.model-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #ffa50057;
}

.name {
  text-transform: uppercase;
  color: purple;
  font-weight: bold;
  font-size: 20px;
}
.desc {
  color: white;
}
